# --- Project Specific Data (Large Files) ---
DATA/IMAGES/WITH MASK/
DATA/IMAGES/WITHOUT MASK/
DATA\IMAGES\LABELS
# Data Vectors
*.csv
!DATA\OTHER\deleted_files_list.csv
!DATA\OTHER\data covered by a face mask.csv

# --- Python & IDE ---
__pycache__/
*.py[cod]
.venv
venv/
.vscode/
.idea/

# --- ML Frameworks ---
*.h5
*.pkl
*.tflite
logs/